# Production Server
gunicorn

# Core dependencies
Flask
dotenv
requests
gdown
flask-sqlalchemy
flask-login
groq
google-generativeai
huggingface_hub
boto3

# Heavy dependencies
torch
torchvision
transformers
accelerate